<html lang="@@lang">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="@@description">
	<meta name="keywords" content="@@keywords">
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<link rel="shortcut icon" href="@@favicon.svg" type="image/svg+xml">
	<link
		href="https://fonts.googleapis.com/css?family=Montserrat:regular,600,700,800,900&display=swap&subset=cyrillic-ext"
		rel="stylesheet" />
	<link rel="shortcut icon" href="@@favicon.webp" type="image/webp">
	<link rel="shortcut icon" href="@@favicon.png" type="image/x-icon">
	<link rel="stylesheet" href="css/libs.min.css">
	<link rel="stylesheet" href="css/style.min.css">
	<title>@@title</title>
</head>