<header class="header">
	<div class="_container">
		<div class="header__body">

			<a href="/" class="header__logo">
				<img src="./../../img/logo.png" alt="">
			</a>

			<div class="header__burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<nav class="header__menu">
				<ul class="header__list">
					<li><a href="#" class="header__link">Услуги</a></li>
					<li><a href="#" class="header__link">Портфолио</a></li>
					<li><a href="#" class="header__link">Этапы</a></li>
					<li><a href="#" class="header__link">Дизайнеры</a></li>
				</ul>
			</nav>
			<div class="header__btn">
				<a href="#">Заказать</a>
			</div>

		</div>
	</div>
</header>