<div class="top _container">
	<div class="top__img">
		<div class="img-top"></div>
	</div>

	<div class="top__title _container-padd">
		<h1>Разработка
			интернет-магазина
			с нуля за неделю
		</h1>
	</div>

	<div class="top__text _container-padd">
		<p>Дизайн интернет магазина, элементов микро UX, корзин, личного кабинета - от фирменного стиля
			до пользовательского интерфейса в сжатые сроки с командой Virtual Designers
		</p>
	</div>

	<div class="top__btn _container-padd"><a href="#">Заказать</a></div>
</div>

</div>